<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <title>RuL</title>
        <link rel="stylesheet" href="style1.css" type="text/css" />

    </head>



    <body>
        
        <div id="picture1">
            <picture>
                <img src="images\image1.png" />
            </picture>
        </div>

        <div id="logo">
            <picture>
                <img src="images\Logo1.png" />
            </picture>
        </div>

        <div class="button-container">
            <div class="button-container__left">Старт</div>
            <div class="button-container__right">Выход</div>
        </div> 

        <script src="sizes1.js"></script>

    </body>

</html>