<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <title>RuL</title>
        <link rel="stylesheet" href="startPage.css" type="text/css" />

    </head>



    <body>

        <div id="picture1">
            <picture>
                <img src="../../images/image1.png" />
            </picture>
        </div>

        <div id="generalBox">

            <div id="logo">
                <picture>
                    <img src="../../images/Logo1.png" />
                </picture>
            </div>
            
            <div id="text">

                <h1>ОБРАЗОВАТЕЛЬНАЯ ПЛАТФОРМА</h1>

                <h2>по русскому языку</h2>

                <p>"Тот, кто пренебрегает обучением в юности, потерян для прошлого и мёртв для будущего”, — Еврипид</p>
                
            </div>

            <div class="button-container">
                <div class="button-container__left">Старт</div>
                <div class="button-container__right">Позже...</div>
            </div> 

        </div>

        <script src="startPageSizes.js"></script>
        <script src="switchStartPage.js"></script>

    </body>

</html>