@import url("../../../../../fonts/fonts.css");

body {
    background-color: #1F527B;
    font-family: 'Roca';    
}

header {
    display: flex;
    width: 100%;
    height: 100px;
}

#legend {
    background-color: rgba(0, 0, 0, 0.1);
    color: #d6b674;
    font-weight: 800;
    font-size: 2.118rem;
    border-radius: 15px;
    padding-left: 22.5px;
    padding-right: 22.5px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
}

.Dots {
    display: flex;
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
    position: absolute;
    right: 17px;
}

.Dot {
    width: 20px;
    height: 20px;
    background-color: #336e9d;
    border-radius: 50%;
}

.Task {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    border-radius: 15px;
    padding-left: 22.5px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-left: 55px;
    width: 70%
}

.play {
    width: 0;
    height: 0;
    border-left: 10.8px solid transparent;
    border-right: 10.8px solid transparent;
    border-bottom: 18.7px solid #1F527B;
    transform: rotate(90deg);
    position: relative;
    top: 12px; 
    right: 12px   
}

#readyButton {
    border-bottom: 18.7px solid rgba(255, 255, 255, 0.8);
}

.Task:has(#readyButton) {
    color: rgba(255, 255, 255);
}