@font-face {
    font-family: 'Roca';
    src: url("Roca Two Regular.ttf") format('truetype');
    font-weight: normal;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roca';
    src: url("Roca Two Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roca';
    src: url("Roca Two Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roca';
    src: url("Roca Two Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}